.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
*.log
*.md
.DS_Store
Thumbs.db
public/uploads/*
!public/uploads/.gitkeep
docker-compose.yml
Dockerfile
.dockerignore
README.md
SOP.md
DOCKER_GUIDE.md

